<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="banner">
  <img src="https://images.unsplash.com/photo-1480732149909-d4e710a0f81c?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid banner-img" alt="...">
  <div class="banner-text">Ajándék ház</div>
</div>

<section class="container">

  <div class="px-lg-5 px-md-5 px-sm-3">

  <div class="mt-4">
    <button class="btn offcanvas-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Mutasd a szűrőket</button>
    <button class="btn offcanvas-btn mx-4 d-none d-md-inline" type="button" (click)="clearSeachTerm()">Keresési szűrők törlése</button>
    <div class="result fw-bold float-end pe-2">{{ filteredProducts.length }} találat</div>
  </div>
  
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Szűrők</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <aside class="filter">
              <hr>
              <div class="sort-name my-3">
                <label for="">Sort by name:</label>
                <input class="ms-2" type="text" placeholder="Name" (keyup)="filterProducts()">
              </div>
      
              <div class="sort-price my-3">
                <label for="">Sort by price:</label>
                <div class="row text-center mt-2">
                  <div class="col-4">
                    <button class="btn border border-danger-subtle" [ngClass]="{'active' : activeButton === 'lowButton'}" (click)="toggleActive('lowButton')" id="low" value="33,3" (click)="getValueFromButton(lowButton)">&dollar;</button>
                  </div>
                  <div class="col-4">
                    <button class="btn border border-danger-subtle" [ngClass]="{'active' : activeButton === 'midButton'}" (click)="toggleActive('midButton')" id="mid" value="66,6" (click)="getValueFromButton(midButton)">&dollar;&dollar;</button>
                  </div>
                  <div class="col-4">
                    <button class="btn border border-danger-subtle" [ngClass]="{'active' : activeButton === 'highButton'}" (click)="toggleActive('highButton')" id="high" value="100" (click)="getValueFromButton(highButton)">&dollar;&dollar;&dollar;</button>
                  </div>
                </div>
      
                <div class="progress line mt-4" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" [style.width]="progressWidth"></div>
                </div>
      
                <ul>
                  <li>{{ getMinPrice() }}$</li>
                  <li>{{ getMaxPrice() }}$</li>
                </ul>
                
              </div>
      
              <div class="sort-category my-3">
                <label for="">Sort by category:</label>
                <div class="dropdown">
                  <button class="btn btn-light border border-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                  </button>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button">Clothes</button></li>
                    <li><button class="dropdown-item" type="button">Shoes</button></li>
                    <li><button class="dropdown-item" type="button">Pants</button></li>
                  </ul>
                </div>
              </div>
      
              <div class="sort-rating my-3">
                <label for="">Sort by rating:</label>
                <ul class="p-0 mt-2">
                  <li>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </li>
                </ul>
              </div>

              <button class="btn offcanvas-btn m-4 d-md-none" type="button" (click)="clearSeachTerm()">Keresési szűrők törlése</button>
      
            </aside>
          </div>
      </div>
    </div>
  </div>

  <div *ngIf="products$ | async as data" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3 px-lg-5 px-md-5 px-sm-3"> 
    <div *ngFor="let gift of data.products" class="col px-3">
      <div class="card shadow">
        <div [id]="'carouselExampleFade_' + gift.id" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="gift.img" class="card-img-top" alt="...">
            </div>
            <div class="carousel-item" *ngIf="gift.img2">
              <img [src]="gift.img2" class="card-img-top" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleFade_' + gift.id" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleFade_' + gift.id" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{gift.name}}</h5>
          <p class="card-text truncate mt-2">{{ gift.description }}</p>
          <div class="text-center">
            <p>Price: <span class="price-color fw-bold">{{ gift.price }} Ft</span></p>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn">Részletek</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pt-5">
      <li class="page-item cursor-pointer" [class.disabled]="!lastDoc">
        <a class="page-link text-dark" (click)="previousPage()">Previous</a>
      </li>
      <li class="page-item" *ngFor="let button of [1, 2, 3]">
        <a class="page-link text-dark" href="#" (click)="loadProducts()">{{ button }}</a>
      </li>
      <li class="page-item cursor-pointer" [class.disabled]="!lastDoc">
        <a class="page-link text-dark" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>
</section>
<router-outlet></router-outlet>

