.navbar {
  position: relative;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px 20px !important;

  background-color: rgb(246, 74, 138) !important;
  border-radius: 0 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 20;
  width: 100%;
}

.nav-link {
  &.active {
    font-weight: bold;
  }
}

.navbar-collapse {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.bg-transparent {
  background-color: rgba(252, 142, 172, 0.719) !important;
}

nav button{
  background-color: #f9f2f1;
  border: #800020;
  padding: 0.5rem 1.5rem;
  &:hover{
    background-color: #800020;
    color: #f9f2f1;
  }
}

.offcanvas{
  opacity: 0.8;
}
