<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Ajándékház</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            (click)="setActive('home')"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/products"
            routerLinkActive="active"
            (click)="setActive('products')"
            >Termékek</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/favourites"
            routerLinkActive="active"
            (click)="setActive('favourites')"
            >Kedvencek</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/cart"
            routerLinkActive="active"
            (click)="setActive('cart')"
            >Kosár</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            (click)="setActive('login')"
            >Bejelentkezés</a
          >
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn col-4 col-lg-12 mx-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="bi bi-cart"></i></button>
      </div>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" data-bs-backdrop="false" id="offcanvasWithBothOptions" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Kosár tartalma:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" *ngIf="cartItems.length > 0">
    <div *ngFor="let item of cartItems" class="cart-item">
      <img [src]="item.image" alt="{{ item.productName }}" class="w-50" />
      <div class="cart-item-details">
        <h4>{{ item.productName }}</h4>
        <p>Mennyiség: {{ item.quantity }}</p>
        <p *ngIf="textInput?.length">Szöveg: {{ item.textInput }} </p>
        <p>Összesen: {{ item.totalPrice | currency:'HUF' }}</p>
        <a href="" (click)="removeItem(item.productId)">X</a>
      </div>
    </div>
    <p class="total">A kosárban lévő termékek összege: {{ totalPrice | currency:'HUF' }}</p>
  </div>
</div>

