<router-outlet></router-outlet>
<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-md-6 text-center">
      <img [src]="product?.img" class="img-fluid mb-5 shadow" alt="Termék kép">
    </div>
    <div class="col-md-6">
      <h1 class="display-4 mb-3">{{ product?.name }}</h1>
      <p class="lead mb-4">Ez egy rövid leírás a termékről, amely kiemeli annak főbb tulajdonságait és előnyeit.</p>
      <h2 class="text-primary mb-4">Ár: {{ product?.price | currency:'HUF ' }}</h2>
      <div class="my-4">
        <button class="btn btn-success btn-lg me-3">Kosárba</button>
        <button class="btn btn-outline-primary btn-lg ms-3">Kívánságlistához</button>
      </div>
      <div class="my-4">
        <h3>Termék Leírás</h3>
        <p>{{ product?.description }}</p>
      </div>
    </div>
  </div>
</div>
