<div
  class="scrolling-wrapper scrolling-wrapper-flexbox py-4 font-raleway-light ms-0 ms-sm-3 ms-md-5"
>
  <div
    class="card shadow-sm rounded-1"
  >
    <!-- <img [src]="product.imageUrls[0].filePath" alt="" class="p-3" /> -->
    <div class="img-container">
      <img src="https://images.unsplash.com/photo-1512909006721-3d6018887383?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="p-3" />
    </div>

    <div class="card-body placeholder-glow">
      <span id="title">Title</span>
      <span id="price">Price</span>
    </div>
  </div>
</div>

