<div class="container-fluid">
    <div class="row">
        <div class="col map p-2">
            <div class="row">
                <div class="col">
                    <h3>Elérhetőségek:</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2700.8740914526124!2d18.458259858346338!3d47.39488947315002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476a174747bac74b%3A0x4a7e59a32d7380de!2zQ3PDoWt2w6FyLCBEw7N6c2EgR3nDtnJneSB1LiAyMCwgODA4Mw!5e0!3m2!1shu!2shu!4v1720305201536!5m2!1shu!2shu" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col">
                    <h3>Tel</h3>
                </div>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>
